body {
    background: #020617;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin: 20px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: #0f172a;
    width: 150px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.price {
    font-size: 1.4em;
    margin-top: 10px;
    color: #22d3ee;
}
