body {
  margin: 0;
  background: #0b0e11;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 56px;
  margin: 15px 0;
}

.status {
  position: fixed;
  top: 15px;
  right: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
}

#net-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: red;
}

.ticker-list {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.ticker {
  background: #161a1e;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.ticker.green {
  color: #0ecb81;
}

.ticker.red {
  color: #f6465d;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

select {
  background: #161a1e;
  color: white;
  border: none;
  padding: 6px;
}

.timeframes button {
  padding: 6px 12px;
  background: #2b3139;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.timeframes button:hover {
  background: #f0b90b;
  color: black;
}

#chart {
  width: 95%;
  height: 500px;
  margin: auto;
}
